debug: true
serialdevice: /dev/ttyUSB0
devices:
    'packet': device name
    'packet':
        name: device name
publish_unknown: False
mqtt:
    prefix: homeassistant
    host: hostname
    port: 1883
    username: username
    password: password
