debug: true
devices:
    'packet': device name
    'packet':
        name: device name
publish_unknown: False
mqtt:
    prefix: homeassistant
    host: hostname
    username: username
    password: password
